h1 {
    font-family: Arial, sans-serif;
    color: #333;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: #0077b6;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Styling specific to about.html */
#animated-element {
    width: 200px;
    height: 100px;
    background-color: #f94144;
    color: #fff;
    text-align: center;
    line-height: 100px;
    animation: zoom 2s;
}

@keyframes zoom {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}